---
import "../styles/global.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/research">Research</a>
      <a href="/cv">CV</a>
      <a href="/contact">Contact</a>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>
